@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("/css/bootstrap.min.css");
@import url("/css/animate.min.css");
@import url("/css/default.css");
@import url("/css/style.css");
@import url("/css/responsive.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ffce1c;
  --secondary-color: #0c1923;
  --text-light: white;
  --text-dark: black;
  --primary-light: rgb(233 95 45);
  --footer-color: #061238;
  --header-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

h1,
.h1 {
  @apply text-2xl font-bold mb-1;
}

h3,
.h3 {
  @apply text-xl font-[500] mb-1;
}

::selection {
  background: var(--primary-color);
  color: white;
}
::-webkit-file-upload-button {
  height: 100%;
  border: none;
  background: var(--primary-color);
  color: white;
  border-right: 2px solid gary;
}

#menu-category-bar::-webkit-scrollbar {
  width: 0px;
}

#menu-category-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

.banner-img {
  background-image: url("/assets/images/headingBannner.png");
  width: 100%;
  background-size: cover;
  height: 100%;
  padding: 20px 40px;
}

.btn-primary {
  /* cursor: pointer;
  transition: all 0.2s;
  font-weight: 500;
  font-size: larger;
  padding: 4px 10px;
  border-radius: 5px;
  background: var(--effect-red-color);
  color: white;
  border: 1px solid transparent;
  text-align: center; */
  @apply inline-flex h-10 items-center justify-center rounded-md bg-primary px-8 text-sm font-medium text-gray-50 shadow transition-colors hover:bg-secondary focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-primary disabled:pointer-events-none disabled:opacity-50;
}

.btn-secondary {
  @apply border cursor-pointer rounded bg-blue-600 hover:bg-primary transition-all duration-150 text-white px-4 py-1;
}

.btn-danger {
  @apply px-3 border-2 rounded py-1 border-red-500 hover:bg-red-500 hover:text-white transition-all duration-100;
}
.form-input {
  @apply outline-none rounded-md h-10 w-full mt-2 bg-[#eee];
}
.form-btn {
  @apply w-full text-white bg-primary rounded border border-primary p-2 transition hover:bg-opacity-90;
}

/* input[type="range"] {
  appearance: none;
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
}
input[type="range"]::-moz-range-progress {
  background-color: var(--primary-color);
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
} */
