@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("/css/bootstrap.min.css");
@import url("/css/animate.min.css");
@import url("/css/magnific-popup.css");
@import url("/css/dripicons.css");
@import url("/css/slick.css");
@import url("/css/default.css");
@import url("/css/meanmenu.css");
@import url("/css/nice-select.css");
@import url("/css/bootstrap-datepicker.min.css");
@import url("/css/style.css");
@import url("/css/responsive.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

